importFrom(utils, download.file)
importFrom(utils, unzip)
importFrom(utils, read.csv)
importFrom(methods, as)
importFrom(flowCore, read.flowSet)
importFrom(flowCore, pData)
importFrom(flowCore, fsApply)
importFrom(flowCore, exprs)
importFrom(flowCore, flowFrame)
importFrom(flowCore, flowSet)
importFrom(SummarizedExperiment, SummarizedExperiment)
