importFrom(utils, download.file)
importFrom(utils, unzip)
importFrom(utils, read.csv)
importFrom(methods, as)
importFrom(flowCore, read.flowSet)
importFrom(flowCore, pData)
importFrom(flowCore, fsApply)
importFrom(flowCore, exprs)
importFrom(flowCore, flowFrame)
importFrom(flowCore, flowSet)
importFrom(SummarizedExperiment, SummarizedExperiment)
importFrom(ExperimentHub, createHubAccessors)
# temporary functions to load Bodenmiller_BCR_XL datasets in Bioconductor version 3.8
# (required due to re-numbering of previous ExperimentHub IDs 1119 and 1120)
# (removed from Bioconductor version 3.9 onwards)
export(Bodenmiller_BCR_XL_SE)
export(Bodenmiller_BCR_XL_flowSet)
export(Levine_32dim_SE)
export(Levine_32dim_flowSet)
export(Levine_13dim_SE)
export(Levine_13dim_flowSet)
export(Samusik_01_SE)
export(Samusik_01_flowSet)
export(Samusik_all_SE)
export(Samusik_all_flowSet)
export(Nilsson_rare_SE)
export(Nilsson_rare_flowSet)
export(Mosmann_rare_SE)
export(Mosmann_rare_flowSet)
export(Krieg_Anti_PD_1_SE)
export(Krieg_Anti_PD_1_flowSet)
